In [1]:
strategies=['Rock','Paper','Scissors']

In [2]:
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0)}

In [3]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [9]:
from random import choice

#simplest strategy: choose randomly, elige estrategias al azar, no tiene memoria
choice(strategies);

In [10]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [11]:
Players[0]['strategy'],Players[1]['strategy']

('Rock', 'Scissors')

In [16]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(1, 0)

In [17]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [18]:
Players

[{'name': 'John', 'score': 3, 'strategy': 'Rock'},
 {'name': 'Mary', 'score': 0, 'strategy': 'Scissors'}]

In [19]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score  strategy
0  John      3      Rock
1  Mary      0  Scissors

In [20]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

   name  score strategy
0  John      3     Rock

In [21]:
# names of players
names=['Jim','Jane','Peter','Zoe']

In [22]:
# setting up players
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [23]:
# each player a dict:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None}]

In [24]:
import itertools 

# pair is a tuple of dicts
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})

In [25]:
import itertools 

# each dict
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}

In [27]:
# resetting society
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [36]:
print(player1['name'] + " chose " + player1['strategy'] +" - "+player2['name'] + " chose " + player2['strategy'] ) 
if payoff[player1['strategy'],player2['strategy']] == (1,0):
    print(player1['name'] + " won") 
if payoff[player1['strategy'],player2['strategy']] == (0,1): 
        print(player2['name'] + " won") 
else: 
    print("TIE!")

Peter chose Scissors - Zoe chose Paper
Peter won
TIE!

In [34]:
# several rounds
for aRound in range(100000):
    
    # en each round:
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)
        
        player2['strategy']=choice(strategies)
        
        # result from strategy chosen
        result=payoff[player1['strategy'],player2['strategy']]
            
        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [35]:
society

[{'name': 'Jim', 'score': 200476, 'strategy': 'Rock'},
 {'name': 'Jane', 'score': 200367, 'strategy': 'Rock'},
 {'name': 'Peter', 'score': 201330, 'strategy': 'Scissors'},
 {'name': 'Zoe', 'score': 199731, 'strategy': 'Paper'}]

In [31]:
socialResults=pd.DataFrame(society)
socialResults

    name  score  strategy
0    Jim    198     Paper
1   Jane    197  Scissors
2  Peter    183      Rock
3    Zoe    210      Rock

In [32]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

  name  score strategy
3  Zoe    210     Rock